body{
    margin: 0;
    padding : 0; 
}
.main-fix{
    height: 100vh; 
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: hidden;
}
.container-fix{
    height: 100vh; 
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: scroll;
}
